<ion-content>
  <ion-list [virtualScroll]="pets" approxItemHeight="360px">
    <ion-card *virtualItem="let pet;">
      <ion-slides pager>
        <ion-slide *ngFor="let photo of pet.photos" class="pet-image">
          <ion-img class="pet-image" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-card-content>
        <ion-card-title>
          {{ pet.name }}
        </ion-card-title>
        <p>
          {{ pet.tagLine }}
        </p>
        <p>
          {{ pet.breed }}
        </p>
          <ion-icon class="heart-icon" *ngIf="!pet.isFavorite" name="heart-outline" color="pink" (click)="favoritePet(pet);"></ion-icon>
          <ion-icon class="heart-icon" *ngIf="pet.isFavorite" name="heart" color="pink" (click)="unFavoritePet(pet);"></ion-icon>

      </ion-card-content>

    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="1000px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
