<ion-header>

  <ion-toolbar color="primary" no-border-top>
    <ion-buttons start>
      <button ion-button icon-only navPop>
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pet Seek</ion-title>
    <ion-buttons end>
      <button ion-button icon-only icon-end [navPush]="favoritesPage">
        <ion-icon name="heart-outline" class="heart-nav"></ion-icon>
        <div #pulseElem></div>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list [virtualScroll]="pets" approxItemHeight="426px">
    <ion-card *virtualItem="let pet;">
      <ion-img class="pet-image" [ngStyle]="{'background-image': 'url(' + pet.photos[0] + ')'}" (tap)="showPetDetailPage(pet)"></ion-img>
      <ion-card-content (tap)="showPetDetailPage(pet)">
        <ion-card-title>
          {{ pet.name }}
        </ion-card-title>
        <p [innerHTML]="pet.tagLine"></p>
        <p class="breed">
          {{ pet.breed }}
        </p>
      </ion-card-content>

      <ion-icon class="heart-icon" *ngIf="!pet.isFavorite" name="heart-outline" color="pink" (tap)="favoritePet(pet);"></ion-icon>
      <ion-icon class="heart-icon" *ngIf="pet.isFavorite" name="heart" color="pink" (tap)="unFavoritePet(pet);"></ion-icon>

    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getMoreInfiniteScrollElements($event)" threshold="1000px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
