.pet-image {
  position: relative;
  margin: 0 auto;
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.swiper-container {
  overflow: visible;

  div.swiper-pagination.swiper-pagination-bullets {
    bottom: -20px;
  }
}

.heart-icon {
  font-size: 35px;
  float: right;
  margin-bottom: 10px; 
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    @include transform(scale(1.0));
  }
  25% {
    @include transform(scale(1.2));
  }
  50% {
    @include transform(scale(1.0));
  }
  75% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1.0));
  }
}
