<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item-group>

    <!-- Search Bar -->
    <ion-toolbar color="light">
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" (ionClear)="onClearLocation($event)" placeholder="Search Locations">
      </ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only tappable (click)="getCurrentLocation()">
          <ion-icon name="pin" color="primary"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Location Search Predictions Auto Complete List -->
    <ion-list [hidden]="locationPredictions?.length == 0">
      <ion-item *ngFor="let location of locationPredictions" tappable (click)="selectLocation(location)">
        {{ location }}
      </ion-item>
    </ion-list>

  </ion-item-group>

  <!-- Search Filters -->
  <ion-item-group *ngFor="let filter of filters" [hidden]="validateBreedList(filter)">
    <ion-item-divider color="light" (click)="toggleGroup(filter);">
      {{filter.name}}
      <ion-note item-right>{{filter.currentItem}}</ion-note>
      <ion-icon item-end name="arrow-forward" color="gray" class="arrow" *ngIf="!filter.active"></ion-icon>
      <ion-icon item-end name="arrow-down" color="gray" class="arrow" *ngIf="filter.active"></ion-icon>
    </ion-item-divider>
    <ion-item *ngFor="let item of filter.items" [@expand]="filter.active" (click)="updateFilter(filter, item);">{{item.name}}</ion-item>
  </ion-item-group>
  <button (click)="searchPets(petRequest)">search</button>

</ion-content>
